<div class="container">
  <% user = User.find(session[:user_id]) %>
  <h1><%= user.name %>'s Skills and Levels</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>
    <ul>
      <% user.skills.each do |skill| %>
        <li>
          <%= skill.name %> (<%= skill.context %>) . .
          Proficiency: <%=find_user_proficiency(user.id, skill.id) %>, 
          Years Experience: <%=find_user_years(user.id, skill.id) %>
        </li> 
      <% end %>
    </ul>
	<br>
  <h4>Add A Skill</h4>
  <form action="/skills_update" method="POST">
    <select name="skill">
      <% Skill.all.each do |skill| %>
        <option value=<%= skill.name %>><%= skill.name %></option>
      <% end %>
    </select>
    <select name="proficiency">
      <% proficiency_array.each do |prof| %>
        <option value=<%= prof %>><%= prof %></option>
      <% end %>
    </select>

    <select name="years">
      <% years_array.each do |year| %>
        <option value=<%= year %>><%= year %></option>
      <% end %>
    </select>
    
    <input type="submit" value="Submit Skill"></submit>
  </form>

</div>