<div class="container">
  <% user = User.find(session[:user_id]) %>
  <h1><%= user.name %>'s Skills and Levels</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>
    <ul>
      <% user.skills.each do |skill| %>
        <li>
          <%= skill.name %> (<%= skill.context %>) . .
          Proficiency: <%=find_user_proficiency(user.id, skill.id) %>, 
          Years Experience: <%=find_user_years(user.id, skill.id) %>
        </li> 
      <% end %>
    </ul>
	<br>
  <h4>Add A Skill</h4>
  <form method="/skills_update/<%= user.id %>" action="POST">
    <select name="Skills">
      <% Skill.all.each do |skill| %>
        <option value=<%= skill.name %>><%= skill.name %></option>
      <% end %>
    </select>
  </form>

</div>